.btn {
  padding: 16px 40px 14px;
  font-family: Circe;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
  text-align: center;
  background-color: #fbcc21;
  color: #fff;
  border: none;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  transition: all .2s ease;

  &--green {
    background-color: #00a765;

    &:hover {
      background-color: color(#00a765 blackness(10%));
    }
  }

  &--red {
    background-color: #e0542f;
    padding-left: 29px;
    padding-right: 29px;

    &:hover {
      background-color: color(#e0542f blackness(10%));
    }
  }

  &--icon {
    padding-left: 57px;
    padding-right: 24px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background: url(ic-play.svg);
      width: 20px;
      height: 20px;
      top: 14px;
      left: 26px;
      background-size: contain;
    }
  }

  &:hover {
    background-color: color(#fbcc21 blackness(10%));
  }

  &--add {
    position: relative;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0;

    &::before {
      content: '';
      position: absolute;
      background: url(ic-add-white-48-px.svg);
      top: 1px;
      left: 1px;
      width: 20px;
      height: 20px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 50px;
      top: -12px;
      left: -12px;
      cursor: auto;
      z-index: -1;
    }
  }
}
