.popup-form {
  padding-top: 20px;

  @media (min-width: $medium-breakpoint) {
    margin-top: 36px;
  }

  &__fieldset {
    position: relative;
    margin-bottom: 36px;

    &--name {
      width: 80px;

      @media (min-width: $medium-breakpoint) {
        width: 119px;
      }
    }

    &--surname {
      width: 151px;

      @media (min-width: $medium-breakpoint) {
        width: 226px;
      }
    }

    &--error {

      .popup-form__input {
        border-color: #e0542f;
        color: #e0542f;
      }

      .popup-form__label {
        color: #e0542f;
      }
    }

    &--no-margin {
      margin-bottom: 0;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    width: 100%;
    border-bottom: 1px solid rgba(113, 73, 140, 0.3);
    height: 30px;
    position: relative;
    z-index: 4;
    background: transparent;
    font-family: Circe;
    font-size: 18px;
    line-height: 1.22;
    color: rgba(60, 23, 74, 1);
    transition: border-color .2s ease;

    &:focus,
    &:valid {
      border-color: #00a3db;
    }

    &:focus + .popup-form__label,
    &:valid + .popup-form__label {
      font-size: 14px;
      transform: translate3d(0, -25px, 0);
    }
  }

  &__label {
    font-family: Circe;
    font-size: 18px;
    line-height: 1.22;
    color: rgba(60, 23, 74, .5);
    position: absolute;
    bottom: 5px;
    transition: all .3s ease;
  }

  &__title {
    font-family: Circe;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.22;
    color: #3c174a;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 28px;

    @media (min-width: $medium-breakpoint) {
      margin-top: 54px;
    }
  }

  &__error-text {
    font-family: Circe;
    font-size: 14px;
    line-height: 1.14;
    color: #df542f;
    margin-top: 10px;
    width: 166px;

    @media (min-width: $medium-breakpoint) {
      float: right;
      margin-right: 20px;
    }
  }

  &__text {
    font-family: Circe;
    font-size: 14px;
    line-height: 1.14;
    color: rgba(60, 23, 74, .5);
    margin-bottom: 30px;
    margin-top: 5px;

    @media (min-width: $medium-breakpoint) {
      margin-top: 12px;
    }
  }

  &--payments {
    padding-top: 48px;
    padding-right: 44px;

    @media (min-width: $medium-breakpoint) {
      margin-top: 30px;
      padding-top: 0;
      padding-right: 91px;
    }
  }
}
