.share {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $medium-breakpoint) {
    align-items: flex-end;
  }

  &__title {
    font-family: Circe;
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
    color: #3c174a;
  }

  &__links {
    display: flex;
    margin-top: 20px;
  }

  &__link {
    display: block;
    margin: 0 5px;
  }
}

.social-likes__counter {
  display: none;
}
