.popup-payments {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 40px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease, visibility .4s ease, z-index 0s ease .4s;

  &.popup--open {
    visibility: visible;
    z-index: 4;
    opacity: 1;
    transition: opacity .4s ease, visibility .4s ease, z-index 0s ease;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;

    @media (min-width: $large-breakpoint) {
      flex-direction: row;
      width: 1055px;
      margin: 0 auto;
      justify-content: space-between;
    }
  }

  &__border {
    width: 300px;
    background-color: rgba(254, 254, 254, 0.6);
    border: solid 1px #00a3db;
    padding: 50px 33px 39px;
    box-sizing: border-box;
    margin: 40px auto 0;
    position: relative;

    @media (min-width: $medium-breakpoint) {
      width: 360px;
      padding: 50px 40px;
    }

    @media (min-width: $large-breakpoint) {
      margin: 40px 0 0;
    }
  }

  &__close {
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(ic-close.svg);
    right: 20px;
    top: 20px;
    background-size: contain;
    cursor: pointer;
  }

  &__title {
    font-family: Circe;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.11;
    color: #71498c;
  }
}
