@font-face {
  font-family: 'Circe';
  src: url(../fonts/Circe/CRC35.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url(../fonts/Circe/CRC55.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url(../fonts/Circe/Circe-Bold.otf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url(../fonts/Circe/Circe-ExtraBold.otf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Courier';
  src: url(../fonts/cour.ttf);
  font-weight: 400;
  font-style: normal;
}
