.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease, visibility .4s ease, z-index 0s ease .4s;

  &__inner {
    width: 300px;
    background-color: rgba(254, 254, 254, 0.6);
    border: solid 1px #00a3db;
    padding: 50px 26px;
    box-sizing: border-box;
    position: relative;
    margin: 40px auto;

    @media (min-width: $medium-breakpoint) {
      padding: 50px 40px;
      width: 448px;
      margin-top: 60px;
    }
  }

  &__close {
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(ic-close.svg);
    right: 20px;
    top: 20px;
    background-size: contain;
    cursor: pointer;
  }

  &__title {
    font-family: Circe;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.11;
    color: #71498c;
  }

  &__hightlight {
    font-weight: 800;
    text-transform: uppercase;

    @media (min-width: $medium-breakpoint) {
      display: block;
    }
  }

  &--open {
    visibility: visible;
    z-index: 4;
    opacity: 1;
    transition: opacity .4s ease, visibility .4s ease, z-index 0s ease;
  }

  &__text {
    width: 140.5px;
    font-family: Circe;
    font-size: 18px;
    line-height: 1.22;
    margin-top: 30px;
    color: #3c174a;

    @media (min-width: $medium-breakpoint) {
      width: 222px;
    }
  }

  &__links {
    display: flex;
    margin-top: 20px;
  }

  &__link {
    display: block;
    margin: 0 5px;
  }

  &__logo {
    opacity: .5;
  }
}
